*{
  margin: 0;
  padding: 0;
}
.flex-container{
  background-color: #d0a7eb;
  color: white;
  width: 100%;
}
.flex-container ul {
  display:flex;
  justify-content: flex-end;
  background-color: #d0a7eb;
  margin: 10px;
  list-style: none;
  color: white;
  
}
.flex-container h1{
  margin-bottom: -60px;
  background-color: #d0a7eb;
}

.flex-container li{
  
  display: inline-block;
  margin: 20px;
  color: white;
  border:solid 1px white;
  border-radius: 15%;
  padding: 5px;
  background-color: #d0a7eb;
  
}

.flex-container li:hover{
  background-color: #f6abe3;
  
}

a{
  text-decoration: none;
  color: #cc84ba;
  background-color: #d0a7eb;
}

  

h1{
  display: flex;
  text-align: center;
  
}